.bg-main-color{
    background-color: #24353F;
}
.secound-color{
    color: #17a2b8;
}
.w-54{
    width: 54%;
}

.form{
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.7);
}
.form h2{
    font-size: 40px;
}
.form-control{
    background-color: transparent;
    color: white;
}
.form-control:focus {
    background-color: transparent;
    color: white;
}
.btn-outline-primary {
    --bs-btn-border-color:#17a2b8;
}
.btn:hover {
    background-color: #17a2b8;
    --bs-btn-hover-border-color: #17a2b8;
}

.form a{
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
.form-control::placeholder {
    color: #ced4da;
}
input:focus{
    box-shadow: 0 0 0 0 transparent !important;
}